torch
torchvision
torchmetrics
numpy
opencv-python
Pillow
albumentations
pyyaml
tqdm
pytest
scikit-image
matplotlib
scikit-learn
timm
dreamsim

# MLOps (opcional)
mlflow
wandb
dvc

# Desarrollo
black
flake8
isort

# Backend UI
fastapi
uvicorn
python-multipart
