torch
torchvision
torchmetrics
numpy
opencv-python
Pillow
albumentations
pyyaml
tqdm
pytest
scikit-image
matplotlib
scikit-learn

# MLOps (opcional)
mlflow
wandb
dvc

# Desarrollo
black
flake8
isort
